{% extends 'base.html' %}

{% block title %}Forgotten password{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <h4 class="mb-3">Forgotten password</h4>
                <p>
                    If you have forgotten your password, just enter your email address
                    and we will send you a link where you can create a new password.
                </p>
                <div class="alert alert-success d-none" id="success-message">
                    If there is your email address in our database, we have sent an email with reset link.
                    You may have to wait a moment before the email appear in your inbox.
                </div>

                <form id="email-form" data-method="POST" data-action="{{ url_for('user_api.post_pswd_reset_email') }}">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email">
                        <div class="invalid-feedback" id="feedback-email"></div>
                    </div>
                    <button type="submit" class="btn btn-primary float-end">Send reset link</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#email-form").submit(function (event) {
            event.preventDefault();

            let form = $(this);
            let url = form.attr('data-action');
            let method = form.attr('data-method');

            form.find("input").each(function (index) {
                $(this).removeClass("is-invalid");
                name = $(this).attr('name');
                form.find("#feedback-" + name).text("");
            });

            let submit_button = form.find('[type=submit]');
            submit_button.prop('disabled', true);

            $.ajax({
                url: url,
                type: method,
                dataType: 'json',
                data: form.serialize(),
                success: function (response) {
                    let message = $("#success-message");
                    message.removeClass('d-none');
                },
                error: function (response) {
                    let data = response.responseJSON;
                    submit_button.prop('disabled', false);

                    if (data.error) {
                        let message = $("#error-message");
                        message.text(data.error);
                        message.removeClass('d-none');
                    } else {
                        $.each(data.errors, function (key, val) {
                            console.log(key);
                            form.find("input[name=" + key + "]").addClass("is-invalid");
                            let text = val.join("<br>");
                            form.find("#feedback-" + key).text(text);
                        });
                    }
                }
            });
        });
    </script>
{% endblock %}
