{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <h2 class="mb-3">Profile</h2>

                <div class="alert alert-success alert-dismissible d-none" id="password-message">
                    Password has been successfully changed.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <p>Username: <strong>{{ user.username }}</strong></p>
                <p>Email: <strong>{{ user.email }}</strong></p>

                {% if auth_user.is_admin and auth_user != user %}
                    <form class="pt-2" id="admin-form" data-method="PUT"
                          data-action="{{ url_for('user_api.put_admin', id=user.id) }}">
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" name="is_admin" id="is-admin">
                            <label class="form-check-label" for="is-admin">Is admin</label>
                        </div>
                    </form>
                {% else %}
                    {% if user.is_admin %}
                        <p><strong class="text-primary">Admin</strong></p>
                    {% endif %}
                {% endif %}

                <form class="pt-2" id="password-form" data-method="PUT"
                      data-action="{{ url_for('user_api.put_pswd_change', id=user.id) }}">
                    <div class="mb-3">
                        <label for="password" class="form-label">New password</label>
                        <input type="password" class="form-control app-pwd-strength" name="password" id="password"
                               data-strength-bar="strength-bar">
                        <div class="invalid-feedback" id="feedback-password"></div>
                    </div>
                    <p class="form-text mb-1">Password strength</p>
                    <div class="progress mb-3" style="height: 15px;">
                        <div class="progress-bar" id="strength-bar" role="progressbar" style="width: 0"
                             aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="mb-3">
                        <label for="password-check" class="form-label">Password check</label>
                        <input type="password" class="form-control" id="password-check">
                        <div class="invalid-feedback" id="feedback-password-check">
                            Passwords does not match
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-end">Change password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/pwd_strength.js') }}"></script>
    <script>
        $("#password-form").submit(function (event) {
            event.preventDefault();
            let password_message = $("#password-message");
            password_message.addClass('d-none');

            let form = $(this);
            let url = form.attr('data-action');
            let method = form.attr('data-method');

            form.find("input").each(function (index) {
                $(this).removeClass("is-invalid");
                name = $(this).attr('name');
                form.find("#feedback-" + name).text("");
            });

            // check passwords match
            let password = form.find("#password");
            let password_check = form.find("#password-check");

            if (password.val() !== password_check.val()) {
                password_check.addClass('is-invalid');
                return;
            } else {
                password_check.removeClass('is-invalid');
            }

            let submit_button = form.find('[type=submit]');
            submit_button.prop('disabled', true);

            $.ajax({
                url: url,
                type: method,
                dataType: 'json',
                data: form.serialize(),
                success: function (response) {
                    password_message.removeClass('d-none');
                },
                error: function (response) {
                    let data = response.responseJSON;
                    //
                }
            });
        });

        $("#is-admin").click(function (event) {
            let form = $('#admin-form');
            let url = form.attr('data-action');
            let method = form.attr('data-method');

            $.ajax({
                url: url,
                type: method,
                dataType: 'json',
                data: form.serialize(),
            });
        });
    </script>
{% endblock %}
