{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <h4 class="mb-3">Registration</h4>
                <form id="register-form" data-method="POST" data-action="{{ url_for('user_api.post_registration') }}">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username">
                        <div class="invalid-feedback" id="feedback-username"></div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" id="email">
                        <div class="invalid-feedback" id="feedback-email"></div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control app-pwd-strength" name="password" id="password"
                               data-strength-bar="strength-bar">
                        <div class="invalid-feedback" id="feedback-password"></div>
                    </div>
                    <p class="form-text mb-1">Password strength</p>
                    <div class="progress mb-3" style="height: 15px;">
                        <div class="progress-bar" id="strength-bar" role="progressbar" style="width: 0"
                             aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="mb-3">
                        <label for="password-check" class="form-label">Password check</label>
                        <input type="password" class="form-control" id="password-check">
                        <div class="invalid-feedback" id="feedback-password-check">
                            Passwords does not match
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='js/pwd_strength.js') }}"></script>
    <script>
        $("#register-form").submit(function (event) {
            event.preventDefault();

            let form = $(this);
            let url = form.attr('data-action');
            let method = form.attr('data-method');

            form.find("input").each(function (index) {
                $(this).removeClass("is-invalid");
                name = $(this).attr('name');
                form.find("#feedback-" + name).text("");
            });

            // check passwords match
            let password = form.find("#password");
            let password_check = form.find("#password-check");

            if (password.val() !== password_check.val()) {
                password_check.addClass('is-invalid');
                return;
            } else {
                password_check.removeClass('is-invalid');
            }

            let submit_button = form.find('[type=submit]');
            submit_button.prop('disabled', true);

            $.ajax({
                url: url,
                type: method,
                dataType: 'json',
                data: form.serialize(),
                success: function (response) {
                    $(location).attr('href', '/');
                },
                error: function (response) {
                    submit_button.prop('disabled', false);
                    let data = response.responseJSON;

                    if (data.error) {
                        let message = $("#error-message");
                        message.text(data.errors);
                        message.removeClass('d-none');
                    } else {
                        $.each(data.errors, function (key, val) {
                            form.find("input[name=" + key + "]").addClass("is-invalid");
                            let text = val.join("<br>");
                            form.find("#feedback-" + key).text(text);
                        });
                    }
                }
            });
        });
    </script>
{% endblock %}