[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
click = "*"
rtoml = "*"
pathlib = "*"
# di
dependency-injector = "*"
# db
sqlalchemy = "*"
psycopg2-binary = "*"
# hashing
passlib = {extras = ["bcrypt"], version = "*"}
itsdangerous = "*"
# forms
marshmallow = "*"
# flask extensions
flask-socketio = "*"
flask-mail = "*"
# event engine for socketio
eventlet = "*"
# wsgi server
gunicorn = "*"
pony = "*"
wrapt = "*"

[dev-packages]

[requires]
python_version = "3.9"
