[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
click = "*"
# db
sqlalchemy = "*"
pymysql = "*"
# hashing
passlib = {extras = ["bcrypt"], version = "*"}
itsdangerous = "*"
# flask extensions
flask-injector = "*"
flask-wtf = "*"
flask-login = "*"
flask-socketio = "*"
flask-mail = "*"
# event engine for socketio
eventlet = "*"
# wsgi server
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
