{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row text-center align-items-center">
                    <div class="col text-end">
                        {% if this_player == 0 %}
                            <h6 class="text-primary d-none">Your turn</h6>
                            <h6 class="text-danger">Opponents turn</h6>
                        {% else %}
                            <h6 class="text-danger d-none">Your turn</h6>
                            <h6 class="text-primary">Opponents turn</h6>
                        {% endif %}
                    </div>
                    <div class="col text-start">
                        <button class="btn btn-danger">End game</button>
                    </div>
                </div>
                <table id="game-board" class="p-0 mx-auto my-3">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <h3>Chat</h3>
            </div>
        </div>
    </div>

    <style>
        #game-board {
            border-spacing: 0;
            border-collapse: collapse;
        }

        #game-board td {
            border-spacing: 0;
            border-collapse: collapse;
            overflow: hidden;
            border: 1px solid black;
            padding: 0;
            width: 30px;
            height: 30px;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        let this_player = {{ this_player|safe }};
    </script>
    <script>
        function load_board() {
            let table = $("#game-board");

            table.find("tbody").load("{{ url_for('game.game_board') }}", function () {
                table.find("td").click(function (event) {
                    // todo
                });
            });
        }

        $(document).ready(function (event) {
            load_board();
        });
    </script>
{% endblock %}