{% extends 'base.html' %}

{% block title %}Game{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8" id="game-pane">
            </div>
{#            <div class="col-lg-4">#}
{#                <h3>Chat</h3>#}
{#            </div>#}
        </div>
    </div>

    <div class="modal fade" id="opponent-surrendered-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Opponent has surrendered!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        #board {
            border-spacing: 0;
            border-collapse: collapse;
        }

        #board td {
            border-spacing: 0;
            border-collapse: collapse;
            overflow: hidden;
            border: 1px solid black;
            padding: 0;
            width: 30px;
            height: 30px;
        }

        .clickable {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        let on_turn = {{ (game.on_turn == side and game.winner == None) | tojson }};
        let game_id = {{ game.id | tojson }};
        let side = {{ side | tojson }};
    </script>
    <script>
        let game_socket = io('/game');

        let opponent_surrendered_modal = new bootstrap.Modal(document.getElementById("opponent-surrendered-modal"), {});

        let game_pane = $('#game-pane');

        function load_game_pane(on_turn) {
            game_pane.load("{{ url_for('game.get_game_pane', id=game.id) }}", function () {
                $('#surrender-button').click(function (event) {
                    surrender(game_id, function () {
                        $(location).attr('href', '/');
                    })
                });

                if (on_turn) {
                    console.log(on_turn);
                    let cells = game_pane.find("[data-empty-cell]");
                    cells.addClass('clickable');

                    cells.click(function (event) {
                        let row = $(this).attr('data-row');
                        let col = $(this).attr('data-col');

                        load_game_pane(true);
                        do_move(game_id, row, col, function () {
                            load_game_pane(false);
                        });
                    });
                }
            });
        }


        // --- Socket ---

        game_socket.on('opponent_surrendered', function () {
            opponent_surrendered_modal.show();
            load_game_pane(false)
        });

        game_socket.on('opponent_played', function (result) {
            if (result === "win" || result === "draw") {
                load_game_pane(false);
            } else {
                load_game_pane(true);
            }
        });

        game_socket.on('connect', function () {
            game_socket.emit('join_game', game_id);
        });


        $(document).ready(function (event) {
            load_game_pane(on_turn);
        });
    </script>
{% endblock %}