<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | FIAR </title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap.min.css') }}">
</head>
<body>
{# Dummy script to prevent loading scripts before stylesheets #}
<script>0</script>

<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='lib/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='lib/zxcvbn.js') }}"></script>

<header class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm p-3 px-md-4 mb-3 bg-light">
    <div class="container">
        <a class="navbar-brand me-md-auto" href="{{ url_for('main.lobby') }}">FIAR - Five in a Row</a>
        <a class="btn btn-primary me-2" href="#">Login</a>
        <a class="btn btn-outline-primary" href="{{ url_for('auth.register') }}">Register</a>
    </div>
</header>

{% block content %}{% endblock %}
</body>
</html>
