<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | FIAR </title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap.min.css') }}">
</head>
<body>
{# Dummy script to prevent loading scripts before stylesheets #}
<script>0</script>

<script type=text/javascript>
    // set script uri root for ajax calls
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='lib/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='lib/zxcvbn.js') }}"></script>

<header class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm p-3 px-md-4 mb-4 bg-light">
    <div class="container">
        <a class="navbar-brand me-auto" href="{{ url_for('lobby.index') }}">FIAR - Five in a Row</a>

        {% if g.auth_user %}
            <div class="dropdown">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" id="user-menu-btn"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    {{ g.auth_user.username }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="user-menu-btn">
                    <li><a class="dropdown-item" href="#">Change password</a></li>
                    <li><a class="dropdown-item" href="#" id="logout">Logout</a></li>
                </ul>
            </div>
        {% else %}
            <a class="btn btn-primary me-2" href="{{ url_for('auth.login') }}">Login</a>
            <a class="btn btn-outline-primary" href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
    </div>
</header>

{% block content %}{% endblock %}

<script>
    $("#logout").click(function (event) {
        event.preventDefault();

        $.ajax({
            url: '{{ url_for('auth.login_api') }}',
            type: 'delete',
            dataType: 'json',
            success: function (response) {
                $(location).attr('href', '/');
            }
        });
    });
</script>

{% block scripts %}{% endblock %}

</body>
</html>
