<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | FIAR </title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap.min.css') }}">
</head>
<body>
{# Dummy script to prevent loading scripts before stylesheets #}
<script>0</script>

<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='lib/socket.io.js') }}"></script>

<header class="border-bottom shadow-sm">
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">FIAR - Five in a Row</a>
            <div class="container-fluid, justify-content-end">
                <button type="button" class="btn btn-primary" href="#">Login</button>
                <button type="button" class="btn btn-outline-primary" href="#">Register</button>
            </div>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}
</body>
</html>
