{% extends 'base.html' %}

{% block title %}Hello world title{% endblock %}

{% block content %}
    <div class="container-md" id="lobby-pane">
    </div>

    <div class="modal fade" id="invite-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Game invite</h5>
                </div>
                <div class="modal-body" id="invite-modal-wait-body">
                    <p id="invite-modal-wait-text">
                        Waiting for the other user.
                    </p>
                    <div class="text-center">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body" id="invite-modal-denied-body">
                    <p id="invite-modal-wait-text">
                        Opponent has denied the invite.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="invite-modal-withdraw-button">Withdraw the invite
                    </button>
                    <button type="button" class="btn btn-secondary" id="invite-modal-close-button"
                            data-bs-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let lobby_socket = io('/lobby');

        // --- invite modal ---
        let invite_modal = new bootstrap.Modal(document.getElementById("invite-modal"), {
            backdrop: 'static',
            keyboard: false
        });

        function show_invite_modal() {
            invite_modal.show();
            $("#invite-modal-wait-body").removeClass('d-none');
            $("#invite-modal-denied-body").addClass('d-none');
            $("#invite-modal-withdraw-button").removeClass('d-none');
            $("#invite-modal-close-button").addClass('d-none');
        }

        function switch_invite_modal() {
            $("#invite-modal-wait-body").addClass('d-none');
            $("#invite-modal-denied-body").removeClass('d-none');
            $("#invite-modal-withdraw-button").addClass('d-none');
            $("#invite-modal-close-button").removeClass('d-none');
        }

        // --- lobby pane ---

        let lobby_pane = $("#lobby-pane");

        function load_lobby_pane() {
            lobby_pane.load("{{ url_for('lobby.lobby_pane') }}", function () {

                let requests_table = $("#requests-table");
                let friends_table = $("#friends-table");
                let users_table = $("#users-table");
                let invites_table = $("#invites-table");
                let games_table = $("#games-table");

                // --- bind requests buttons ---
                requests_table.find("[data-btn-accept]").click(function (event) {
                    let id = $(this).attr('data-id');
                    add_friendship(id, function () {
                        load_lobby_pane();
                    });
                });
                requests_table.find("[data-btn-refuse]").click(function (event) {
                    let id = $(this).attr('data-id');
                    remove_request(id, function () {
                        load_lobby_pane();
                    });
                });

                // --- bind friends buttons ---
                friends_table.find("[data-btn-unfriend]").click(function (event) {
                    let id = $(this).attr('data-id');
                    remove_friendship(id, function () {
                        load_lobby_pane();
                    });
                });
                friends_table.find("[data-btn-invite]").click(function (event) {
                    let id = $(this).attr('data-id');

                    add_invite(id, function () {
                        let withdraw_button = $("#invite-modal-withdraw-button");

                        withdraw_button.click(function (event) {
                            remove_invite(id, function () {
                                invite_modal.hide();
                            });
                        });

                        show_invite_modal()
                    });
                });

                // --- bind users buttons ---
                users_table.find("[data-btn-friend]").click(function (event) {
                    let id = $(this).attr('data-id');
                    console.log('click');
                    add_request(id, function () {
                        load_lobby_pane();
                    });
                });

                // --- bind invites buttons ---
                invites_table.find("[data-btn-accept]").click(function (event) {
                    let id = $(this).attr('data-id');
                    accept_invite(id, function (response) {
                        $(location).attr('href', $app.html.game.GET + response.id);
                    });
                });
                invites_table.find("[data-btn-refuse]").click(function (event) {
                    let id = $(this).attr('data-id');
                    refuse_invite(id, function () {
                        load_lobby_pane();
                    });
                });
            });
        }

        // --- Socket ---

        lobby_socket.on('new_online_user', function () {
            load_lobby_pane();
        });

        lobby_socket.on('request_received', function () {
            load_lobby_pane();
        });

        lobby_socket.on('request_deleted', function () {
            load_lobby_pane();
        });

        lobby_socket.on('friendship_refused', function () {
            load_lobby_pane();
        });

        lobby_socket.on('friendship_accepted', function () {
            load_lobby_pane();
        });

        lobby_socket.on('friendship_deleted', function () {
            load_lobby_pane();
        });

        lobby_socket.on('invite_received', function () {
            load_lobby_pane();
        });

        lobby_socket.on('invite_deleted', function () {
            load_lobby_pane();
        });

        lobby_socket.on('invite_refused', function () {
            switch_invite_modal();
        });

        lobby_socket.on('invite_accepted', function (game_id) {
            $(location).attr('href', $app.html.game.GET + game_id);
        });

        lobby_socket.on('game_surrendered', function () {
            load_lobby_pane();
        });

        $(document).ready(function (event) {
            load_lobby_pane();

            setInterval(function () {
                load_lobby_pane()
            }, 3000);
        });
    </script>

    <script src="{{ url_for('static', filename='js/user_socket.js') }}"></script>
{% endblock %}