<script type="application/javascript">
    $app = {
        this_user_id: {{ auth_user.id | tojson }},
        online_timeout: {{ config.USER.ONLINE_TIMEOUT | tojson }},
        api: {
            friendship: {
                PUT: "{{ url_for('friendship_api.put_friendship', friend_id=0)[:-1] }}",
                DELETE: "{{ url_for('friendship_api.delete_friendship', friend_id=0)[:-1] }}"
            },
            friendships: {
                GET: "{{ url_for('friendship_api.get_friendships') }}"
            },
            request: {
                POST: "{{ url_for('friendship_api.post_request', friend_id=0)[:-1] }}",
                DELETE: "{{ url_for('friendship_api.delete_request', friend_id=0)[:-1] }}"
            },
            requests: {
                GET: "{{ url_for('friendship_api.get_requests') }}"
            },
            pswd_reset: {
                PUT: "{{ url_for('user_api.put_pswd_reset', token='') }}"
            },
            pswd_reset_email: {
                PUT: "{{ url_for('user_api.post_pswd_reset_email') }}"
            },
            login: {
                PUT: "{{ url_for('user_api.put_login') }}",
                DELETE: "{{ url_for('user_api.delete_login') }}"
            },
            registration: {
                POST: "{{ url_for('user_api.post_registration') }}"
            },
            user: {
                GET: "{{ url_for('user_api.get_user', id=0)[:-1] }}"
            },
            online_users: {
                GET: "{{ url_for('user_api.get_online_users') }}"
            },
            invite: {
                POST: "{{ url_for('game_api.post_invite', opponent_id=0)[:-1] }}",
                DELETE: "{{ url_for('game_api.delete_invite', opponent_id=0)[:-1] }}"
            },
            invites: {
                GET: "{{ url_for('game_api.get_invites') }}"
            },
            game: {
                POST: "{{ url_for('game_api.post_game', opponent_id=0)[:-1] }}"
            },
            games: {
                GET: "{{ url_for('game_api.get_games') }}"
            },
            move: {
                POST: "{{ url_for('game_api.post_move', game_id=0)[:-1] }}"
            },
            surrender: {
                POST: "{{ url_for('game_api.post_surrender', game_id=0)[:-1] }}"
            }
        }
    };
</script>