<script type="application/javascript">
    $app = {
        this_user_id: {% if auth_user %}{{ auth_user.id | tojson }}{% else %}{{ null }}{% endif %},
        api: {
            friendship: {
                PUT: "{{ url_for('friendship_api.put_friendship', friend_id=0)[:-1] }}",
                DELETE: "{{ url_for('friendship_api.delete_friendship', friend_id=0)[:-1] }}"
            },
            request: {
                POST: "{{ url_for('friendship_api.post_request', friend_id=0)[:-1] }}",
                DELETE: "{{ url_for('friendship_api.delete_request', friend_id=0)[:-1] }}"
            },
            pswd_reset: {
                PUT: "{{ url_for('user_api.put_pswd_reset', token='') }}"
            },
            pswd_reset_email: {
                PUT: "{{ url_for('user_api.post_pswd_reset_email') }}"
            },
            login: {
                PUT: "{{ url_for('user_api.put_login') }}",
                DELETE: "{{ url_for('user_api.delete_login') }}"
            },
            registration: {
                POST: "{{ url_for('user_api.post_registration') }}"
            },
            invite: {
                POST: "{{ url_for('game_api.post_invite', opponent_id=0)[:-1] }}",
                DELETE: "{{ url_for('game_api.delete_invite', opponent_id=0)[:-1] }}"
            },
            game: {
                POST: "{{ url_for('game_api.post_game', opponent_id=0)[:-1] }}"
            },
            move: {
                POST: "{{ url_for('game_api.post_move', game_id=0)[:-1] }}"
            },
            surrender: {
                POST: "{{ url_for('game_api.post_surrender', game_id=0)[:-1] }}"
            }
        },
        html: {
            game: {
                GET: "{{ url_for('game.index', id=0)[:-1] }}"
            },
        }
    };
</script>